<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRC Nedir</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header">
        
        <div class="header__text2">
            <a class="cosmostext">7742 Cosmos Robot Works</a>
            <a class="active" href="/home">Home</a>
            <a class="active" href="/contact">Contact</a>
            <a class="active" href="/aboutus">About Us</a>
          </div>
        <div class="header__text">
          <h1>FIRST ® Robotics Competition</h1>
          <p>2025: REEFSCAPE℠</p>
        </div>
        
      </header>

      <main>
        <h2>FRC (FIRST ® Robotics Competition) Nedir?</h2>
        <p>FIRST® Robotics Competition, gençlerin kendi tasarladıkları ve programladıkları endüstriyel boyuttaki robotları her yıl değişen bir tema altında yarıştırdıkları bir yarışmadır. Katılımcılar, mühendislik ve yazılım becerilerini geliştirirken takım çalışması yaparlar. FRC, STEM alanlarında yetkinlik kazandırmayı ve öğrencilerin problem çözme, liderlik gibi becerilerini pekiştirmeyi hedefler.</p>
        <img src="..\static\img\frc.jpg" alt="frc_img" class="center">
        <h2>FRC'ye Kimler Katılabilir?</h2>
        <p>FRC, dünya geneline açık bir yarışmadır. 14-18 yaş aralığında, 9-12. sınıflar, kısacası tüm lise öğrencileri bu yarışmaya katılabilir.</p>

    <h2 class="main__title">FRC Hakkında Diğer Bilgiler:</h2>
    <ul class="list" >
      <li class="list__item">
        <a href="/gecmistemalar">
        <span>Geçmiş Yıllara Ait Temalar</span></a>
        <!--  -->
      </li>
      
      <li class="list__item">
        <a href="/oduller">
        <span>Verilen Ödüller</span></a>
        <!--  -->
      </li>
    </ul>
    </main>
      
</body>
</html>